.text-uppercase {
  letter-spacing: 0.08em;
}.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 10000px) {
  .mylogo{
    width: 100px;
  }
  .mybox{
    padding-left: 50px;
  }
  .mybox1{
    margin-left: 200px;
  }
  .mybox2{
    margin-left: 200px;
  }
  .megamenu1{
    margin-left: 350px;
  }
}
@media only screen and (max-width: 1000px) {
  .megamenu1{
    margin-left: 20px;
  }
}
@media screen and (max-width: 510px) {
  .logo {
    width : 100px;
  }
  .mybox{
    padding-left: 100px;
  }
  .mybox1{
    margin-left: 100px;
  }
  .mybox2{
    margin-left: 30px;
  }
}
